.firstText{
  font-weight: 600;
  font-style:normal;
  text-align: center;
  font-size: large;
  padding: 25px;
  position: relative;
  top: -90px;
}

.icon{
  background-image: url('../src/assets/MAN_bnk_logo.png');
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  margin: 25px;
  position: relative;
  top: 90px
}


.file-input {
  display: none;
}


.file-label {
  display: inline-block;

  background-color: black; 
  color: white; 
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
  left: 42%;
  top: -60px;
  height: 20px;
}


.file-label:hover {
  background-color: white;
}


.file-label span {
  padding-right: 10px;
  display: inline-block;
  
}


.file-input:focus + .file-label {
  border: 2px solid #4CAF50;
}
.h3{
  background-color: black;
}