.firstText{
  font-weight: 800;
  font-style:normal;
  text-align: center;
  font-size: large;
  padding: 25px;
  position: relative;
  top: -90px;
}

.icon{
  background-image: url('../src/assets/MAN_bnk_logo.png');
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  margin: 25px;
  position: relative;
  top: 90px
}

.selectedFiles{
  text-align: center;
  margin: 18px;
  top: -100px;
  position: relative;
  font-size: large;
}
.file-input {
  display: none;
}


.file-label {
  display: inline-block;

  background-color: black; 
  color: white; 
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
  left: 33%;
  top: -60px;
  height: 20px;
}

.selectedFiles {
  margin-top: 20px;
}

.selectedFiles h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selectedFiles ul {
  list-style: none;
  padding: 0;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.file-item span {
  flex-grow: 1;
  font-weight: bold;
}

.dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.color-box {
  
padding: 10px;
  height: 20px;
  display:inline-block;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 8px;
  width: 10px;
}

.ok{
  background-color: black;
  color: white;
  position: relative;
  left: 100px;
}
.reset{
  background-color: black;
  color: white;
  position: relative;
  left: 110px;
}
.file-label span {
  padding-right: 10px;
  display: inline-block;
  
}

.plotGraph{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  margin-top: -80px;
  
  position: relative;
  left: 45%;
  color: white;
  gap: 10px;
}

.h3{
  background-color: black;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pagination-controls button {
  padding: 5px 15px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-weight: bold;
}
